[2016-02-25 08:44] voischev opened #1 "write about this plugin in PostHTML readme"

[2016-02-27 10:25] michael-ciniawsky commented on #1
hey i must apologize for letting you wait, it's not choosen unfriendly behaviour of mine, just haven't found the time yet to update the README. I will do it in the next days for sure its on my list already :)

[2016-02-27 11:39] voischev commented on #1
:+1: txh!

[2016-03-12 22:27] #1 closed

[2016-06-20 15:11] jescalan opened #2 "Loops"
So I know you have the [each helper](https://github.com/posthtml/posthtml-exp#each-) already, but I'm curious if there's anything built in here (or if there's another posthtml plugin that has it) to handle slightly more complex looping. For example:

[code]

Let's say I want to loop over this data and produce something like this:

[code]

Correct me if I'm wrong but there's no way to do this right

[2016-06-22 22:41] michael-ciniawsky commented on #2
yes you're right, i'm working on a bigger update for the module, it has it's flaws and there needs to be a solution for block-level assignment, i'm trying to get a more generic approach where someone can 'register'  there own helpers, but rarely find spare time at the moment.

[2016-07-06 22:06] #2 closed

[2016-07-12 16:30] jescalan opened #9 "Can't use delimiters with angle brackets"
They are parsed as html tags

[2016-07-13 09:13] awinogradov opened #10 "posthtml-templates is the better name"

[2016-07-13 14:05] jescalan commented on #10
Tough call here. I mean the primary purpose of this plugin is to parse expressions, which is probably why it was called "expressions", but it also contains logic for loops and conditionals. It's tough to come up with a name that covers all of these things. I don't entirely feel like "templates" represents the purpose of the plugin, since expressions, loops, and conditionals !== templates.

[2016-07-13 14:39] jescalan commented on #10
Just as a note, it's going to be quite a while before there is full browser support for template literals. IE does not and never will support them, so it requires IE to be fully dead and unsupported.

[2016-07-13 14:44] michael-ciniawsky commented on #10
babel? yep sadly it will take a while

[2016-07-13 14:46] michael-ciniawsky commented on #10
it's also only for interpolation e.g fill out with ajax data etc. for more advanced templating there needs to be a solution to enable posthtml on the client

[2016-07-13 19:31] awinogradov commented on #10
posthtml-eval?

[2016-07-13 19:41] jescalan commented on #10
I think the closest we could get would be `posthtml-logic`, but it's not a ton better than `posthtml-expressions`

[2016-07-13 19:54] awinogradov commented on #10
`posthtml-expressions` sounds good for me

[2016-07-13 19:58] awinogradov commented on #10
@michael-ciniawsky can you rename this plugin?

[2016-07-13 21:00] michael-ciniawsky commented on #10
it's an awfully long name to be honest meaning the same npm deps in pkg.json are 'hard-coded' there is no way folks using it at the moment will get an update notification. Really needed?

[2016-07-13 21:03] jescalan commented on #10
We would need to create a new npm package at `posthtml-expressions`, publish the same version, then publish a version to `posthtml-exp` with a deprecation warning in the `package.json` to make a smooth transfer.

[2016-07-13 21:05] michael-ciniawsky commented on #10
i know but why?

[2016-07-13 21:20] awinogradov commented on #10
Because `posthtml-exp` can be posthtml-export, posthtml-exploit, posthtml-expansion and etc. You should understand what plugin do by the name and short description. Look at plugins repos in posthtml and try to retell their targets.

[2016-07-23 17:09] awinogradov commented on #10
it was renamed

[2016-07-23 17:09] #10 closed

[2016-11-10 08:37] mrmlnc opened #21 "Incorrect work with loops and conditions"
## Detail

Moved from https://github.com/posthtml/sugarml/issues/7.

I'm use `sugar@0.1.0` (`0.4.0` related to Reshape as I understand it) and I have following code:

**index.js**

[code]

**index.sml**

[code]

After processing I get:

[code]

Output without `posthtml-exp`:

[code]

## Environment

 * **Windows**: 10 (1607, build 14393.447)
 * **Node.js**: 6.4.0
 * **npm**: 3.10.3
 * **PostHTML**

[2016-11-10 08:43] mrmlnc opened #22 "Broken links in package.json"
## Problem

Your `package.json` has broken links.

## Details

Current repository: `posthtml-expressions`. Links in `package.json` reference to `posthtml-exp`.

And when I click on links on npmjs.com I see a sad wombat. I don't like seeing a sad wombat 😭

## Error log

[code]

[2016-11-10 09:33] michael-ciniawsky commented on #22
👍 on the list for a long time, will be fixed with the other bug in next release as `posthtml-expressions`

[2016-11-10 10:53] mrmlnc commented on #21
This is can be solved by:

[code]

But this is generate unnecessary whitespaces 😫

**Expected:**

[code]

**Actual:**

[code]

But this is behaviour was and before adding this line:

[code]

[2016-11-10 11:04] michael-ciniawsky commented on #21
I haven't found time yet to take a look into it, can you trim() within obj.content somewhere?

[reshape-expressions #8](https://github.com/reshape/expressions/issues/8)
[reshape-expressions #8 Fix] (https://github.com/reshape/expressions/commit/59bc32a90783a57ffba08416e4f924a2609d89d0))

[2016-11-10 11:10] mrmlnc commented on #21
@michael-ciniawsky, no pressure 👍 I was just interested to solve this problem to run my Benchmark.

[2016-11-10 11:19] michael-ciniawsky commented on #21
@mrmlnc What are you benchmarking 👀 , is it compared to or in general :)? If you can fix it I rename and publish asap 😛

[2016-11-10 11:32] mrmlnc commented on #21
@michael-ciniawsky, I am looking for a replacement for Jade/Pug (veeeery slow for big pages: 2 loops, 2 conditions & 5 mixin references).

I build simple stack with:

  * Jade-like whitespace-significant syntax
  * Expressions (locals, confitions, loops)
  * Mixins (only in Jade/Pug)
  * Include
  * Extends

And...

<details><summary>🐌 results</summary>

![code_2016-11-10_11-14-25](https://cloud.g

[2016-11-10 12:13] voischev commented on #21
https://github.com/posthtml/posthtml-expressions/blob/master/lib/index.js#L3

[2016-11-10 12:32] michael-ciniawsky commented on #21
I see, I have similiar intensions my 'dream' dev stack will/should look something like that

[code]

**postcss.config.js** (done)

[code]

**posthtml.config.js** (needs update, in progress)

[code]

**component.sml** (prototype)

[code]

**index.sml**

[code]

Besides that.. :), a mixin plugin is something important missing I tried a long time ago, but was not working as I wanted, interested in co

[2016-11-10 12:41] michael-ciniawsky commented on #21
@voischev  What is the Issue with `_.clonedeep` ?

[2016-11-10 13:12] mrmlnc commented on #21
@michael-ciniawsky,

firstly I'll try to update `posthtml-sugarml`, because right now it slows down the whole process. Then I think to rewrite benchmark for more realistic cases (include, extends and expressions) and compare performance. Right now Slm super fast but not have Mixins and plugins (not really important to me).

[2016-11-10 15:17] michael-ciniawsky commented on #21
You mean `posthtml-expressions` instead of `posthtml-sugraml`? Or maybe I'm not getting the context here :). If you meant `posthtml-sugarml` can you file an issue(s) over there, containing want you have in mind, I'm also currently shaping it a little, but suggestions on the how and contributions are welcome anytime and highly appreciated 😛

`posthtml-mixins` let's draft/prototype/write that someho

[2016-11-10 15:28] mrmlnc commented on #21
@michael-ciniawsky, Yeap, I mean `posthtml-sugarml`, because I think it's because of him posthtml gives such a bad result (I hope so).

And yeap, I can send PR tomorrow to `posthtml-expressions` (100%) and `posthtml-sugarml` (60%, because I have 57 assigned to me Issues on GitHub, pending fix 😄).

[2016-11-10 15:38] michael-ciniawsky commented on #21
@mrmlnc a few minutes ago, there was an awesome PR out of the blue, which added  scopes and a `<scope>` tag to `posthtml-expressions`, take your time of course no real urgency, but maybe, you can give it a portion of higher priority 👍 😛. Is there a fork of `posthtml-sugarml` with your pushed changes so far, so I can sneak peek into it ? ;) It's because I refactored some code already, but mainly co

[2016-11-10 15:43] mrmlnc commented on #21
@michael-ciniawsky,

Nope, I just wanted to synchronize the current repository with Reshape repository.

[2016-11-10 15:46] jescalan commented on #21
As mentioned earlier, I patched this exact issue in reshape/expressions, happy to patch it here as well if you guys want, it would be quick and simple to do 😁

[2016-11-10 16:15] mrmlnc commented on #21
@jescalan, If you can do it, I would be happy ❤️.

[2016-11-10 16:41] jescalan commented on #21
Done, with a test to prevent regressions. Sorry this bug existed in the first place, it was definitely my oversight!

[2016-11-10 16:43] mrmlnc commented on #21
@jescalan, Thanks you ⭐️

[2016-11-10 17:10] #22 closed

[2016-11-10 17:20] #21 closed

[2016-11-10 17:52] voischev commented on #21
@michael-ciniawsky `cloneDeep` very slow :(

[2016-11-10 18:05] michael-ciniawsky commented on #21
@voischev 👍 yep, never used lodash and friends myself, off topic here, but I have a personal aversion against this, because I can `require('crap')` development model in general ;) although I'm NodeJS Dev

[2016-11-13 17:13] mrmlnc opened #26 "Drop Lodash"
After talking with @voischev we think that the Lodash kills performance.

## With Lodash

![image](https://cloud.githubusercontent.com/assets/7034281/20247449/850d3ab4-a9dd-11e6-9055-654ea5d52bc6.png)

## Without Lodash

![image](https://cloud.githubusercontent.com/assets/7034281/20268029/7401d304-aa8e-11e6-897b-e1ab0ec5dcdc.png)

[2016-11-13 17:18] michael-ciniawsky commented on #26
👍 I investigate, if you have the time, even if it's not shaped up, maybe send somone send quick PR for that pls :). Otherwise I will do it, but need a few days before for new `posthtml-expression` release

[2016-11-13 17:34] mrmlnc commented on #26
@michael-ciniawsky, Tomorrow will make PR.

[2016-11-14 05:00] michael-ciniawsky commented on #26
:+1: Want to become one of the maintainers of this plugin then :)?

[2016-11-14 05:00] michael-ciniawsky commented on #26
I will wait for PR, finish some pollishing then and finall make release 😛

[2016-11-14 14:20] mrmlnc commented on #26
Well, I spent some experiments and until you use the cloning of Object/Array we don't talk about performance.

If I replace Copy/Merge on custom solution I can get maximum profit in the 5-10 percent.

[2016-11-14 14:50] michael-ciniawsky commented on #26
If you can prototype a solution for that, I'm perfectly fine with bigger refactorings, atm finishing a few other posthtml related repos, then I will take a deeper look at `posthtml-expressions` :). Take your time meanwhile 😝

[2016-11-15 15:37] mrmlnc commented on #26
Now `posthtml-expressions` addressed only for Node.js 6+, because uses spread operator, destructuring assignment and default values.

I thinks will be cool if this plugins can be work on Node.js 4+. We have three ways:

  * Rewrite to least common features of ES6
  * Use Buble or Babel
  * Rewrite to TypeScript 😄

[2016-11-15 15:40] jescalan commented on #26
Active LTS for node v4 ends in less than 5 months. It's probably time for people still using v4 to start the process of moving over to v6...

[2016-11-15 15:43] mrmlnc commented on #26
Sounds reasonable for me. **But** I don't understand politics of PostHTML, because PostHTML supports Node.js 0.10+ and most plugins supports Node.js 4+ and 6+.

[2016-11-15 15:46] jescalan commented on #26
I mean I don't really either. `v0.10` is past end of life, so there's no reason to support it at all. If a plugin already supports `v4`, no reason specifically to remove that support, but it doesn't seem worth the effort to convert other plugins when `v4` will exit active LTS so soon IMO.

[2016-11-15 18:20] michael-ciniawsky commented on #26
Core is node v0.10+, reason maybe some legacy support for some the protein stuff, no idea. Plugins is node v4+ LTS  (unofficially)

@mrmlnc Yep, node 4+ LTS should be the target imo. Although personally node v6+ LTS is perfectly fine, there are still many folks on node v4+ LTS for coporate reasons, personal 'lazyness', you name it :). It's also active LTS which should always be targeted. I don't l

[2016-11-15 18:34] mrmlnc commented on #26
Don't worry, for this plugin I will use your stack and code style 😎

[2016-11-15 18:40] michael-ciniawsky commented on #26
Ok, like I said you can migrated the code base to typescript with a leat a little StandardJS flavour, but then you are definitely 'commited' as maintainer 😛 .

[2016-11-16 09:14] voischev commented on #26
customer support nodejs v0.10 is https://github.com/cloudflare

issue https://github.com/posthtml/posthtml/issues/105

np

[2016-11-16 09:42] michael-ciniawsky commented on #26
I see 😎  cool, yes in terms of QA and 'best practices', normally all plugins/repos should still support node v0.12+ LTS since its still active, even when in maintenance mode, but most plugins were authored when node v4+ LTS was likely to be the default. Nevertheless in the future (node v4 LTS +), we definitely must be more 'conservative' in terms of node version support to be taking seriously as a

[2016-11-16 10:39] voischev commented on #26
I believe that was the user and not asked for support, you can do as you like 😎.

but I vote for maximum possible support versions nodejs 🤓

stop offtop? 🤔

[2016-11-16 18:07] michael-ciniawsky commented on #26
Don't say what you maybe regret 😛

We are all 'ashamed' :) for our bad habits recently and follow Node Foundation's LTS Schedule from now on => Node v4+ LTS until 2018-04-01 😎

Yep :)

[2016-11-16 20:54] michael-ciniawsky opened #28 "Update README.md"

[2016-11-16 20:55] michael-ciniawsky opened #29 "Add JSDoc"

[2016-11-16 20:59] michael-ciniawsky commented on #9
@jescalan Is there a way to solve this ?

[2016-11-16 21:12] michael-ciniawsky opened #30 "Remove options.conditionals, options.loops, options.scope (tags)"

[2016-11-16 21:13] michael-ciniawsky commented on #30
👍 (yes) / 👎(no)  via comment reactions pls 😛

Concerns blow 😎

[2016-11-16 21:16] mrmlnc commented on #9
Should work fine with `['<', '>']` after #27. But, unfortunately, double angle brackets are not working (they are parsed as html tags: `<` + `< key >>`).

Perhaps, in some cases, the parser does not work correctly.

[2016-11-16 21:16] jescalan commented on #30
So there would be no way to run a loop or conditional? Wouldn't this be a major important feature lost for pretty much all users of this plugin?

[2016-11-16 21:18] jescalan commented on #9
The only way to solve it is to charge the parser structure. It works in reshape, but reshape uses a different parser entirely.

[2016-11-16 21:24] michael-ciniawsky commented on #30
@jescalan I have to change the tilte :). Nope it's just about the options to define our own tags for conditionals, loops, scope and use the default ones

[2016-11-16 21:33] jescalan commented on #30
What is the advantage of removing extra customizability?

[2016-11-16 22:09] mrmlnc commented on #26
So,

After #27 this plugin was working twice as fast with keywords `{{ key }}`. But the good news ends.

## Problem

In the current implementation, we have the following problems:

  1. Deep copy and merge small/large objects
  2. Deep copy AST

**Benchmark**: 7 op/s

## Theoretical maximum

Consider the case when the loops are not expanding:

[code]

**Benchmark**: 368 op/s

## Looking for proble

[2016-11-17 00:09] michael-ciniawsky commented on #30
removing extra customizability ? :D, customize delimiters in terms of style ok, there are many different already in the wild, so when someone wants to replace his current templating solution with posthtml-expressions he can stick with his current style. But imo its better to fixate the logical tags and therefore remove the options to do so aswell. What is a reasonable usecase to overriding them br

[2016-11-17 14:48] jescalan commented on #30
Tag conflicts. The `if`, `else`, `each` etc. are all custom elements that we replace. If there is any other type of tool that uses these custom elements instead of what we replace them with, you'd be out of luck unless you could switch up the names.

[2016-11-17 17:24] mrmlnc commented on #26
Well, idea with strings gave me hope.

![image](https://cloud.githubusercontent.com/assets/7034281/20399876/ba3f129c-ad03-11e6-809a-beb608c78364.png)

Currently not supported nested loops 😢

[2016-11-17 18:03] michael-ciniawsky commented on #26
@mrmlnc 👍 Are nested loops doable with your concept?

[2016-11-18 10:40] mrmlnc commented on #26
Closed by #32.

[2016-11-18 10:40] #26 closed

[2016-11-18 10:41] mrmlnc commented on #30
I think that is bad idea, because, for example, I use `for` for `loops` 😄

[2016-11-18 16:28] michael-ciniawsky commented on #30
@jescalan  @mrmlnc Alright 😞 , personally still not convinced if it's really necessary/valuable 😛 , but not my sole decision, let's keep it for now.

[2016-11-18 16:28] #30 closed

[2016-11-19 02:13] #28 closed

[2016-11-19 06:44] #29 closed

[2016-11-19 08:09] michael-ciniawsky opened #33 "Switch"
[code]

[2016-11-19 08:14] mrmlnc commented on #33
I'm not a fan of big logic in HTML, but it is possible. I'll take a look on this feature soon.

[2016-11-19 09:10] michael-ciniawsky commented on #33
yep maybe unnessecary, by no means urgent or a 'killer feature', but imo nice-to-have nevertheless

[2016-12-06 09:04] mrmlnc opened #35 "Errors are not handled in tests"
## Details

We have a few tests with errors, for example:

[code]

I change the expected line:

[code]

And then I run tests:

![image](https://cloud.githubusercontent.com/assets/7034281/20919292/1c488ea8-bbac-11e6-97ed-cc15eb3d08d5.png)

## Environment

| OS              | Node      | npm       | PostHTML  |
|:---------------:|:---------:|:---------:|:---------:|
| Windows@10 | 7.2.0 | 3.10.9 | 0

[2016-12-06 13:18] mrmlnc commented on #35
Small clarification: PostHTML does not throw exceptions for errors.

[2016-12-06 19:42] michael-ciniawsky commented on #35
I'm working on a proposal which gors in the direction PostCSS takes

**plugins.js**
[code]

**posthtml.js**
[code]

**reporter.js**
[code]

- Since the  PostHTML Tree gets rextended with the Tree API between each plugin call, we need to save the messages and add the Message API to the extend function.
- Location Info on the nodes is also very important, but the AST refactoring is a highly disliked

[2016-12-06 19:49] michael-ciniawsky commented on #35
Any other ideas/approaches highly welcome, I will make PR with the early draft to Core soon and discussion should maybe take place their (or in the respective issue(s) @posthtml/posthtml)

[2016-12-13 19:24] #33 closed

[2016-12-14 05:13] michael-ciniawsky commented on #35
@mrmlnc Can we close this one here and continue discussion at posthtml/core?

[2016-12-14 15:42] mrmlnc commented on #35
@michael-ciniawsky,Yeap, of course 👌

[2016-12-14 15:42] #35 closed

[2016-12-21 08:26] michael-ciniawsky opened #37 "Messages"
## Problem

The current implementation overrides `tree.messages`and results in `result.messages === undefin
ed`

## Details

Seems to be caused by the custom `walk` function

## Issue [ Code ]

[code]

## Environment

| OS              | Node      | npm       | PostHTML  |
|:---------------:|:---------:|:---------:|:---------:|
| macOS 10.12.2 | 7.3.0 | 3.10.10 |`michael-ciniawsky/posthtml.git#mes

[2016-12-21 08:28] mrmlnc commented on #37
Because we use `throw` instead of `tree.messages` 😄

[2016-12-21 08:42] michael-ciniawsky opened #38 "[feat]: Attributes"
## Problem

Implement logic via attributes

## Details

### Conditionals

[code]
### Loops

[code]

### Switch

[code]

### Scope

[code]

[2016-12-21 08:51] michael-ciniawsky commented on #37
@mrmlnc :trollface: 😛

 Sure but it overrides `tree.messages` completely so all messages from other plugins used before `posthtml-expressions` are lost at the moment 😭

[2016-12-21 16:00] jescalan commented on #38
why?

[2016-12-24 07:25] michael-ciniawsky commented on #38
cleaner markup, similiar to e.g Vue's Template Syntax, tags usage should stay of course

[2016-12-24 18:25] jescalan commented on #38
I still don't understand why this would be worth doing at all. It's not cleaner, it's actually more markup and characters to do it this way. But whatever you feel!

[2016-12-25 10:49] michael-ciniawsky commented on #38
### Tag

[code]

### Attributes

[code]

? :)

If it is to difficult or needs to much additional extra logic to implement, then ok it's maybe not really worth the change/extra work.

[2017-01-20 15:32] xakdog commented on #38
**for** and **scope** looks nice. But **conditionals** loses indentation and seems to be very unclear.

[2017-01-20 18:12] jescalan commented on #38
If you did implement it like this, and the user needed a transparent block tag not explicitly attached to an existing tag in the DOM, which is a use case and [implemented by vue's syntax](https://vuejs.org/v2/guide/list.html#Template-v-for), you'd need to make an extra element available to serve as the transparent block, the same way `each` works now.

[2017-03-31 03:45] Shyam-Chen opened #44 "[feat]: with template"
[code]

use template

[code]

[code]

Output:

[code]

[2017-03-31 03:49] jescalan commented on #44
Posthtml's templating method will not generate client-side templates with posthtml-expressions, it is only compatible with interpolated strings like `<p>Hello ${planet}</p>`.

[2017-04-01 07:30] Shyam-Chen commented on #44
This is PostHTML problem, or plugin problem?

[2017-09-12 11:08] tresdin commented on #38
I think the loop syntax would be cleaner this way.
[code]

[2017-12-12 11:10] mikestopcontinues opened #53 "[fix]: Expressions doesn't work with `posthtml-extend`"
## Problem

`posthtml-extend` updates the tree to be contained within the extended page. For some reason, this breaks `posthtml-expressions`. But it would be awesome to both use the plugins together, as well as use expressions logic in the extended template.

## Reproduction

Two different issues:

1. Try to use expressions within a template that extends another.
2. Try to use expressions within a

[2017-12-12 14:42] GitScrum commented on #53
@mikestopcontinues Hi, thanks for your feedback, I'll check it out soon.

[2017-12-13 11:53] GitScrum commented on #53
@mikestopcontinues wait merge and publish [PR](https://github.com/posthtml/posthtml-extend/pull/9)

[2017-12-13 12:58] mikestopcontinues commented on #53
Thanks, @GitScrum! You rock!

[2017-12-13 13:05] michael-ciniawsky commented on #53
@mikestopcontinues Can you show your current `posthtml` config and the plugin order ?

[2017-12-13 14:04] mikestopcontinues commented on #53
Sure!

[code]

[2017-12-13 15:09] GitScrum commented on #53
Now you need set extend options `plugins` when call `expressions`
[code]

[2017-12-13 22:13] mikestopcontinues commented on #53
Ok, thanks!

[2017-12-14 08:42] GitScrum commented on #53
@mikestopcontinues wait publish in npm )

[2017-12-14 09:31] michael-ciniawsky commented on #53
Does `posthtml-extend` (not too familiar with it 😛 ) not also `extend the `tree` (AST), so `posthtml-expressions` should normally work if it is used **after** `posthtml-extend` ? We use a custom `walk` `{Function}` in `posthtml-expressions` atm, maybe there is something lost during interpolation ?

[2017-12-14 09:32] GitScrum commented on #53
@mikestopcontinues Done! enjoy, and close this issue if all good.

[2017-12-14 10:21] #53 closed

[2017-12-14 10:22] mikestopcontinues commented on #53
Thanks!

[2017-12-31 19:59] andreyvolokitin opened #54 "A way to define data in html"
Documentation states one way to define data — via plugin invocation. But often it may be necessary to define data directly in HTML for specific expressions (like data for included "template" with some expressions). May it be possible with ```posthtml-expressions```?

[2017-12-31 22:54] andreyvolokitin opened #55 "Overwriting tag names"
Docs says:

Is it fundamentally impossible or just not implemented currently?

[2018-01-05 19:18] GitScrum commented on #55
this should work, show an example that does not work for you.

[2018-01-05 19:20] GitScrum commented on #54
@andreyvolokitin Hi, see example

[2018-01-07 12:13] andreyvolokitin commented on #55
Will do a repo later if necessary, just checked — tag name indeed is not overwritten in the final output while other expressions are overwritten: https://i.imgur.com/bEVfwmq.png (final output shown in the bottom left corner)

[2018-01-07 12:18] andreyvolokitin commented on #54
Which example specifically? I can only find one [here](https://github.com/posthtml/posthtml-expressions#locals) where it says that we need to pass data directly to the plugin

[2018-01-09 09:25] andreyvolokitin commented on #55
Yeah, expression like this:
[code]
with a ```posthtml.config.js``` like this:
[code]
will produce the following output:
[code]

[2018-01-12 07:24] GitScrum commented on #54
Currently only the plug-in is available.
Perhaps it will help you [scopes](https://github.com/posthtml/posthtml-expressions#scopes)

[2018-01-12 07:31] GitScrum commented on #54
related to #44

[2018-01-12 08:05] andreyvolokitin commented on #54
Yep, seen that. What I wanted is something like this: https://mozilla.github.io/nunjucks/templating.html#macro — a standard concept in templating engines, where you invoke some partial with some parameters. It is interesting to mention that ```locals``` do not seem like locals at all, but more like globals, but I understand that purpose of that plugin is maybe different from what I wanted

[2018-01-12 14:03] andreyvolokitin commented on #55
@jescalan could you explain this? I see this detail about tags was initially added in the readme by you (https://github.com/posthtml/posthtml-expressions/commit/3d04646f8d9574a76485c3fcea46af242be29e62#diff-04c6e90faac2675aa89e2176d2eec7d8R35). Is this because expressions themselves are made via custom tags?

[2018-01-13 11:03] andreyvolokitin commented on #55
I assume that is the case. The only question is — is it fundamentally impossible to overwrite ```node.tag```? I.e. [after all tag-logic is handled](https://github.com/posthtml/posthtml-expressions/blob/master/lib/index.js#L345), could it be possible to check if ```node.tag``` contains expression and handle it?

[2018-01-13 15:33] jescalan commented on #55
I would say its theoretically possible, but incredibly difficult to implement, and I have yet to see a use case that would validate the effort.

In order to implement this, the parser would need to be modified to recognize `<{{ .* }}>` as a tag, which no current html parser supports (and reasonably so), which means forking the base parser or implementing a custom one. On top of that, since the del

[2018-01-13 16:57] andreyvolokitin commented on #55
I am trying to set up a frontend dev environment based on webpack which, amongst other things, would allow me to reuse HTML pieces. I am looking for something like a templating engine to use only at the development stage, with a decent level of flexibility, so I could potentially parametrize as much as I can in an HTML component, including tag names (though maybe I will be using mainly a few featu

[2018-01-13 18:57] andreyvolokitin commented on #54
Possible implementation:
[code]
also:
- make ```with``` optional
- overwrite intersected properties from ```with``` in case it present

Problems:
- strange syntax
- ```with``` becomes a "reserved" word and can not be used as expression variable
- will attributes strings be sufficient to hold values instead of real JS values used in ```locals``` object?

What do you think?

[2018-01-13 19:49] andreyvolokitin opened #56 "Define new attributes"
Currently it is possible to use variables as values of existing attributes, but there is no ability to add new attributes. What if we check [here](https://github.com/posthtml/posthtml-expressions/blob/master/lib/index.js#L154) for variables defined as attributes themselves:
[code]
and do something like
[code]

What would be even more powerful is the ability to merge existing attributes with new on

[2018-01-14 21:30] jescalan commented on #55
Yeah, I guess I just have never run into a case where deciding a tag name based on external input would be reasonable or safe in any way. I still don't really understand what your use-case is, to be honest. Like, in what situation do you need the name of the tag itself to be represented by a variable? If you can lay this out, it's possible I could see a different approach that would save you the e

[2018-01-14 22:07] andreyvolokitin commented on #55
Having some HTML-"components" library, there may be times when the root or some other tag within the component should be variable. I.e. with a button component — it can be a real ```<button>```, or an ```<a>```, or just a ```<div>```, the basic structure remains the same:
[code]
Less granular example: having some block (i.e. product block with a picture, description and a "buy" button), it can be

[2018-01-14 22:20] andreyvolokitin commented on #55
It can be hidden behind an option, and if it works correctly then won't this be no more dangerous than just manually writing messed up HTML, like having divs directly within tables? Writing sane HTML may be user's responsibility, and they need to do it even before they start using PostHTML

[2018-01-14 22:35] jescalan commented on #55
Ok, I can see that case for sure. I mean, this could be very easily worked around with an if/else statement for this particular one. Or just by just using an `<a>` no matter what, to be honest, and just not giving it an href or click action if it doesn't have one. Are there any other use cases you have run into other than this `a` or `button/div` case? Is there any drawback that you know of to usi

[2018-01-14 23:06] andreyvolokitin commented on #55
if/else means code duplication, which negates "components" approach, where there is a single source of "truth". Regarding ```href``` — I am really not sure, but it sounds like asking for trouble (maybe I am paranoid, but I dealt with quite a lot of pretty bizarre browser bugs to start fearing of anything "special"). All in all, workarounds can be done, but they are just that — workarounds. For fur

[2018-01-14 23:15] andreyvolokitin commented on #55
Ah, and regarding always using ```<a>``` for buttons — I am afraid this would be impossible, because the most common thing is to use ```<button>``` for buttons, so that they work even without JS, and so they are "semantic" etc. It is just sometimes when you need to use ```<a>``` (or another tag) instead, but the markup is just the same

[2018-01-14 23:41] jescalan commented on #55
Absolutely true, but if it is two lines that are duplicated in a single component, it can honestly end up being a non-issue, and not worth burning a large amount of time into an in-depth PR.

Could you elaborate on this? In what situation would a `<button>` element be able to do something that an `<a>` couldn't, without JS active? And I'm not sure it matters how common something is - in this case

[2018-01-15 08:46] andreyvolokitin commented on #55
Like in forms, where you actually need ```<button>```, particularly a submit or reset button. Why would you use an ```<a>``` in a place for ```<button>``` in a form anyway? The button is a desired mechanism for doing all "button stuff" outside forms either (also see: https://www.nczonline.net/blog/2013/01/29/you-cant-create-a-button/), but in forms it is required.

[2018-01-15 11:19] andreyvolokitin commented on #55
Okay, I looked quickly into my projects, and apart from button example, that's what I found:
- a heading block, which can contain some markup inside, and you can reuse it with different heading levels:
[code]
- a "banner/info" block, which can contain some markup inside, and you can make it a plain ```<div>```, or an ```<a>``` to make a link somewhere:
[code]
- even with a small button component,

[2018-01-15 23:43] andreyvolokitin commented on #37
@michael-ciniawsky could this be a suitable fix? https://github.com/andreyvolokitin/posthtml-expressions/commit/4b65003ca009b24876e5ebf655af87eba0b1b97e

[2018-01-15 23:53] andreyvolokitin commented on #54
cc @jescalan @voischev @awinogradov @michael-ciniawsky @mrmlnc

[2018-02-02 22:19] andreyvolokitin commented on #56
Probably will be problematic because of whitespace issue: posthtml parser can't recognize such expressions if there is whitespace in them. So ```{{{btnAttrs}}}``` is one attribute, but ```{{{ btnAttrs }}}``` is multiple attributes. Same goes with [tags](https://github.com/posthtml/posthtml-expressions/issues/55#issuecomment-357449573). It could be an edge case where you not allowed to use whitespa

[2018-02-04 16:52] andreyvolokitin commented on #56
Attributes merging turned out to be pretty easy: https://github.com/andreyvolokitin/posthtml-expressions/commit/7be91c59b2d3d84a24fd7f5b4588895cbe6e341c#diff-6d186b954a58d5bb740f73d84fe39073R170

[2018-06-20 23:43] #37 closed

[2018-08-28 12:55] gregorybolkenstijn commented on #54
+1

[2019-02-23 14:46] #38 closed

[2019-05-14 14:14] kieranpotts opened #57 "Conditionals within loops"
## Problem

I would like to be able to use conditionals within loops, where the conditional expression evaluates against another local template variable.

## Details

Input:

[code]

[code]

Desired output:

[code]

Actual output:

[code]

Thus the expression ``page.path === current_path`` does not evaluate ``current_path`` to a template variable.

Is this expected behaviour? If not, could it be c

[2019-05-15 08:11] Scrum commented on #57
@kieranpotts Hi, thanks for your feedback - this is very important to us. I will try to deal with this problem as soon as possible.

[2019-05-15 09:46] Scrum commented on #57
@kieranpotts I updated all the dependencies and wrote a [test case](https://github.com/posthtml/posthtml-expressions/commit/d508ec12accfdbb4eeadbaa58268ab3d7a02fa2b) for your case, now everything should work

[2019-05-15 11:01] kieranpotts commented on #57
It works! Fantastic, thank you so much @Scrum :)

[2019-05-15 11:01] #57 closed

[2019-08-15 19:42] dy opened #59 "Does not evaluate in includes"
I have parcel-bundler set up via `.posthtmlrc` as
[code]

Also there are two files, `index.html`:
[code]

And in `sidebar.html`:
[code]

The resulting rendered html is `{{ active }}` (expression was not evaluated).

Putting `{{ active }}` to `index.html` renders `OK`.

[2019-11-13 14:03] chrisfwd commented on #54
+1 Any plan to implement inline invocation of templates like stated above? We're using rollup for our build process and, to use this, it seems like I'd need to either add locals to my build code (not feasible) or in my template HTML file (also not feasible) in order to use this. It would be really nice to be able to define an object in my JS and invoke the template and pass in the JS object simila

[2019-11-13 14:09] Scrum commented on #54
interest in this task seems to be growing) I will try to increase the priority of this task for myself.

Anyone can make their contribution to the development of this project.

[2020-03-12 18:16] cossssmin opened #60 "Filters"
Would be awesome if `posthtml-expressions` offered support for filters, [like Nunjucks does](https://mozilla.github.io/nunjucks/templating.html#builtin-filters).

So you could do stuff like:

[code]
[code]
[code]

...or:

[code]
[code]

[2020-03-12 18:20] anikethsaha commented on #60
I am +1 for this.
Just a question, does any other template lang provides similar features ?

[2020-03-12 18:28] cossssmin commented on #60
It would be even better if you could register your own filters.

So the plugin would come with built-in fitlters, but you could pass in a `filters` option:

[code]

[2020-03-12 18:30] cossssmin commented on #60
Besides Nunjucks and [Jinja](https://jinja.palletsprojects.com/en/master/templates/#builtin-filters) (which the former is inspired from), [Liquid](https://shopify.github.io/liquid/) also has this. There might be others that I don't know of...

[2020-03-12 18:31] anikethsaha commented on #60
Seems like a good feature to add !

[2020-03-13 15:47] cossssmin opened #61 "[Feature Request] Allow outputting delimiters"
Many templating languages use the `{{` and `}}` delimiters.

If you want to have those delimiters output in the compiled HTML, the only way to do so currently is to change the delimiters that `posthtml-expressions` uses.

This would work, but isn't ideal, as it forces you do add configuration and maybe you just want to use the `{{ }}` delimiters that the plugin comes with by default.

## Proposal

[2020-03-14 12:34] anikethsaha commented on #61
Its interesting to have this.

+1 for this

[2020-03-15 12:05] cossssmin commented on #61
Another idea would be to mark the curly braces [like Blade does](https://laravel.com/docs/5.8/blade#blade-and-javascript-frameworks):

[code]

That could be used for one-offs where you only need to output the braces for one instance.

`<raw>` could be used to discard everything inside it, so you could wrap it around multiple `{{ }}`:

[code]

[2020-03-15 12:59] anikethsaha commented on #61
implementing using `<raw>` tag will be easy as we do parse tags so we can simply go to the next node.
While having blade-like iterator needs custom parsing implementation which will be simple as well in terms of parsing but not as easy as the tags.

While I am +1 for either of them. Having blade-like syntax might be helpful to convey as its already implemented

[2020-03-15 13:09] cossssmin commented on #61
Played around with the `@{{ }}` approach and got it working with a negative lookbehind + a replacement in `lib/index.js`:

[code]

Then just replaced the `@{{` with `{{`:

[code]

[2020-03-15 13:11] cossssmin commented on #61
Of course this is just an example - it would need to use the delimiters as set in the options - but what do you think?

[2020-03-15 13:48] anikethsaha commented on #61
I am up for PoC.  We can test both/any implementation.

Feel free to submit a PoC

[2020-03-16 12:08] cossssmin opened #62 "Some HTML comments being removed"
Looks like some HTML comments are mistaken for `<if>` tags, _but only if they follow an actual `<if>` tag_.

For example, this works fine (HTML comment is preserved):

[code]

However, switch the order and the entire `
[code]

[2020-03-16 13:57] cossssmin commented on #61
Got the `<raw>` tag working already (with tests), will submit PR soon and will then move on to the `@{{` approach.

[2020-03-16 14:05] cossssmin commented on #61
Need your opinion on what to call tags such as `<raw>` or `<verbatim>`.

I want to provide an option for this so that, just like with other tags, the user can define it.

I'm thinking of `ignoredTags`, but maybe we can come up with better wording?

[2020-03-16 14:06] anikethsaha commented on #61
what about `<noop>` as `no operation` ?

[2020-03-16 14:12] cossssmin commented on #61
Sorry, perhaps I didn't explain it well :)

So, for the tag itself, I would default it to `<raw>` or `<verbatim>`.

But internally, in the plugin's options, we could provide an option through an array to hold these tag names - just as `conditionalTags` defines the tags for conditionals.

So I was thinking we could use `ignoredTags`?

[code]

[2020-03-16 14:18] anikethsaha commented on #61
Ohh no. I misunderstood the comment earlier

I would prefer to have a default one but then we can change it using the config .
and I guess it is better to have a single tag instead of array to do so as it might be confusing for other developers and also it will give extra operation to this plugin for similar work !

what do you think ?

[2020-03-16 14:22] cossssmin commented on #61
I agree, I'll go with `ignoredTag` (singular) and set it to be a string instead of an array 👍

[2020-03-16 14:33] cossssmin commented on #61
Working on it [in this branch](https://github.com/cossssmin/posthtml-expressions/tree/raw-output), will try to tackle `@{{ }}` as well and update the readme.

[2020-03-16 15:22] cossssmin commented on #61
Got the `@{{ foo }}` working as well.

Question: should the `@` be configurable? Should the user be able to set it to some other character?

[2020-03-16 15:23] anikethsaha commented on #61
I dont think so, does blade supports that ?

[2020-03-16 15:24] cossssmin commented on #61
No, it does not. I'll push the commit and open a PR so we can take it from there.

[2020-03-16 15:25] anikethsaha commented on #61
cool 👍

[2020-03-16 15:44] cossssmin commented on #61
Opened https://github.com/posthtml/posthtml-expressions/pull/63, let me know what you think :)

[2020-03-17 12:45] cossssmin commented on #61
Added in https://github.com/posthtml/posthtml-expressions/pull/63, thanks for merging!

[2020-03-17 12:45] #61 closed

[2020-03-17 13:17] Scrum commented on #62
@cossssmin It seems like a parsing error right away, it will take me a while to figure it out

[2020-03-17 13:23] cossssmin commented on #62
Thanks Ivan, luckily in the meantime it works with the new [`<raw>`](https://github.com/posthtml/posthtml-expressions#ignored-tag) tag 😁

[code]

But yeah, it should work without it. Looking into it myself, will let you know if I find anything.

[2020-03-17 13:27] Scrum commented on #62
Thanks, look at these error https://github.com/posthtml/posthtml-parser/issues/9

[2020-03-19 09:45] cossssmin commented on #62
Just to rule out any other issues, I tested this with all tags (`<if>`, `<switch>`, `<each>`, `<scope>`), as well as after other tags from other plugins (`<block>`, `<include>`, `<module>`).

I can confirm only the `<if>` tag has this issue.

[2020-03-19 10:32] cossssmin commented on #62
Thinking it might have to do with the way [`getNextTag`](https://github.com/posthtml/posthtml-expressions/blob/master/lib/tags.js) works, as I see it only returns content if the node is an object - a comment is a string, so it's skipped...

[2020-03-19 17:02] cossssmin opened #65 "[Feature Request] Loop-related variables"
Would you accept a PR that adds a `loop` object to the `locals`, when inside a loop?

It would expose the following object:

[code]

So you could use it inside a loop, like this:

[code]

Of course, it would be available when looping over both arrays and objects.

Could be useful for various things, but I've frequently used it for:

- outputting content based on where we are in the loop
- building

[2020-03-19 17:05] anikethsaha commented on #65
is it similar to [this](https://github.com/posthtml/posthtml-expressions#loops)

[2020-03-19 17:10] cossssmin commented on #65
It's an object with information about the loop currently being executed.

- `index` - the current iteration of the loop (0 indexed)
- `remaining` - number of iterations until the end (0 indexed)
- `first` - boolean indicating if it's the first iteration
- `last` - boolean indicating if it's the last iteration
- `length` - total number of items

[2020-03-19 17:13] anikethsaha commented on #65
having `index` and `length` will fix the need of rest three right !

also, you want to add this in existing loop feature ?

[2020-03-19 17:15] cossssmin commented on #65
I don't understand what you mean. I think we're hitting a language barrier, so might as well just do the PR and show you the code :)

[2020-03-19 17:18] anikethsaha commented on #65
I meant, having `index` and `length` property is enough right cause with these two, we can calculate the rest three !

and, this plugin already has loops concept so I am confused is it something you want to add on top of it or want to create a separate loop feature ? if separate , how this will be different from the old one ?

[2020-03-19 17:22] cossssmin commented on #65
The point is to provide local loop data for the user and not make them calculate it themselves.

If you want the user to calculate it, then this feature wouldn't even be needed, because you can currently get the `index` and calculate the `length` yourself, too.

It's not a separate loop, this just exposes a `loop` object when you're inside the loop. The plugin's current looping functionality is no

[2020-03-19 17:26] anikethsaha commented on #65
Ohh let me know if I get it correctly,

this is kind of metadata for the loop tag right ?
this plugin will calculate those props (`first`, `second`, `last` etc) for you and we can access this inside of loop tag using `loop` local object.! we don't have to write the loop local object manually , this plugin will inject those

right ?

[2020-03-19 17:31] cossssmin commented on #65
Yes, exactly, so you can access those props from a local `loop` object.

Maybe my example was too complicated, here's a simple one:

[code]

[2020-03-19 18:00] anikethsaha commented on #65
seems like a good enhancement !.  👍

cc @Scrum

[2020-03-20 06:15] Scrum commented on #65
Looks good.

How will this work with nested loops?

[code]

[2020-03-20 09:43] cossssmin commented on #65
Each loop would give access to its own metadata; it would not have access to its parent metadata. Looking at other templating languages, I see they do the same thing...

[2020-03-20 09:47] cossssmin commented on #65
@Scrum would it perhaps be useful if loops also accepted a `locals=""` attribute, so they can pass down variables? This way, what you're asking abot the top loop would probably be possible.

[2020-03-20 10:03] cossssmin commented on #65
So what I mean is:

[code]

Would be useful in general, as you'd be able to send data from a parent to any nested child loop.

[2020-03-23 06:21] #65 closed

[2020-03-23 14:28] Scrum commented on #60
@cossssmin I like this idea and approach, there is a true feeling that we are creating our own `Jinja` or `Django template`

[2020-03-23 14:38] cossssmin commented on #60
Glad to hear it! 😊

Now, regarding development, I haven't looked into it, and I have a feeling it'll be pretty complicated (for me, at least) to get it working with that `{{ variable | filterName }}` syntax. Can you help with that?

For starters maybe we could do a `<filter name="filterName">` tag, which you could use like so:

[code]

Result:

[code]

I can totally help with writing the built-in

[2020-03-23 14:45] Scrum commented on #60
`<filter name="filterName">` it seems very cumbersome considering that there may be several filters - it will clog `HTML`

`{{ variable | filterName }}` - I will make sketches in this direction, but most likely tomorrow))

[2020-03-23 14:52] cossssmin commented on #60
Forgot about multiple filters, so this needs to be taken into account.

For example:

[code]

I think the `<filter name="">` tag might still be useful:

- allow using just one filter name and execute only that
- instead of applying on a string, user could use this tag and apply a filter on an entire block of HTML

Thoughts?

[2020-03-23 14:58] Scrum commented on #60
So far vague

*simple*
[code]

*nested 1*
[code]

*nested 2*
[code]

[2020-03-23 15:09] cossssmin commented on #60
Yep, I get someone could do that, but you wouldn't have to if we have both `{{ var | filterName }}` and the `<filter>` tag. You use the inline one on objects/strings, but for something like this you'd still need a tag, I think:

[code]

Result:

[code]

I think this is also why Jinja ([docs](https://jinja.palletsprojects.com/en/2.11.x/templates/#id11)) Nunjucks ([docs](https://mozilla.github.io/nu

[2020-03-23 15:40] anikethsaha commented on #60
i think , `<filter>`  can have more control over the HTML I guess. (not sure though)

I think we can have PoC for either or both so that we can discuss it with the implementation with just the built-in ones!

[2020-03-23 15:43] cossssmin commented on #60
I think both are useful, as there are situations where you can't use the tag, and vice-versa - remember the `@{{ }}` + `<raw>` discussion we had? 🙂

[2020-03-23 15:45] anikethsaha commented on #60
yes, seems like we need both ! 👍

[2020-03-23 15:45] anikethsaha commented on #60
let's start with the tag just for the sake of simplicity ? or with the other one !

[2020-03-24 06:15] Scrum commented on #60
Ok, let's try with tags,
1. what will the filter chain look like?
2. In what order to apply?
3. Ignoring applied filters?

[code]

or

[code]

[2020-03-24 09:59] cossssmin commented on #60
My feedback:

1. If we go for the first one (multiple filters split by `|`), the second one would also be possible. I think it would be awesome to be able to call multiple filters on a block with a single filter tag, so I'm all for the first approach 👍

2. I would say _in order of appearance_. So, apply the first filter in the attribute, then the next, and so on. I'm not saying LTR or RTL, as that

[2020-03-30 11:54] cossssmin opened #70 "locals can only be JSON string"
Consider `{{ title }}` is a string equal to `test`.

[code]

[code]

Result: `SyntaxError: Unexpected token { in JSON at position 1`

These won't work, either:

[code]

Would be awesome if you could pass expressions variables inside the `locals=""` attribute - sometimes you need to pass in something that has a dynamic/computed value, so you can't write it out by hand.

Any ideas?

[2020-04-04 16:07] cossssmin opened #68 "Can't use together with expressions plugin"
Found a weird issue: if you use `posthtml-expressions` together with this plugin, it will fail with either a `TypeError` or a `ReferenceError` (depending on which one you add to the plugins array first).

So this setup:

[code]

Fails with `ReferenceError: response is not defined`

If you switch plugin order, you get `TypeError: nodes.reduce is not a function`.

_However_, if you skip expression p

[2020-04-06 11:30] Scrum commented on #68
@cossssmin I moved it because this is a package error `posthtml-expression`

[2020-04-06 11:31] cossssmin commented on #68
Ah, ok, let me know if you need anything else from my side 👍

[2020-04-06 11:45] Scrum commented on #68
@cossssmin publish v1.3.1

[2020-04-06 11:45] #68 closed

[2020-04-10 10:23] Scrum commented on #70
@cossssmin I tried to understand the reason for a long time and finally found it #71

[2020-04-10 10:26] #70 closed

[2020-04-10 10:33] Scrum commented on #70
@cossssmin publish v1.3.2, The only thing that needs to be done since execution of plugins is asynchronous, you need to finish the option `after`, `before` in `posthtml-fetch` which will add plugins before and after the expression plugin
![Screenshot 2020-04-10 at 13 32 42](https://user-images.githubusercontent.com/2789192/78984779-c8288700-7b2f-11ea-8d80-f7a30473797e.png)

[2020-04-10 10:36] cossssmin commented on #70
Awesome, will have a look and get back to you. Will also need to implement this somehow in `posthtml-modules` ('somehow' because it's not using the same codebase...)

[2020-04-10 10:46] cossssmin commented on #70
Hmm, just tried this with `posthtml-include` and it still fails?

[code]

[code]

[code]

[2020-04-10 11:42] Scrum commented on #70
@cossssmin Yes, in this case, you need to check whether the string is of the form `json`,

the correct result for you then will be
[code]

[2020-04-10 11:43] cossssmin commented on #70
I'm not sure I understand, how can someone pass in that `page` object to that include?

[2020-05-01 08:51] cossssmin opened #72 "@{{ }} not working as expected"
Noticed two issues with [using @{{ }} for ignoring expressions](https://github.com/posthtml/posthtml-expressions#ignoring-expressions).

### Escaping fails inside attributes

This:

[code]

Becomes this:

[code]

It still tries to evaluate the expression when inside an attribute.

### Escaping in content is a bit glitchy

[code]

Becomes:

[code]

Basically, since the node is returned right when `

[2020-05-01 16:13] cossssmin opened #73 "[Feature request] set context in expressions"
Imagine we already had a `page.title` variable in context, and we could access it through `{{ page.title }}`. Would be cool if we could define a variable in the context on the fly:

[code]

Currently, that outputs:

[code]

Right now, it does _kinda_ work, but it still outputs `undefined` where we've set the variable, as I've explained above.

Maybe we could use `const` to identify that we want to

[2020-05-01 16:33] anikethsaha commented on #73
I think its a useful feature. +1 for this 👍

I do like the `set` thing more than `const` cause than users will think it has the complete js runtime and so on.

Will it affect `posthtml-modules` ?

***
*on a different context (or may be in this)*

I was thinking if we can pass an expression to `posthtml-modules`'s modules ?
just a rough idea 💡

[2020-05-01 16:40] cossssmin commented on #73
I'm ok with `set`, too 👍

`posthtml-modules` - since it accepts plugins, you can call it and pass `posthtml-expressions` as a plugin (with `initial: true`). Already doing it for components in Maizzle and works fine:

https://github.com/maizzle/framework/blob/eb9b03d0e17cf632d4b539c72272a617a8377f39/src/generators/posthtml.js#L34-L46

[2020-05-01 16:44] cossssmin commented on #73
I should mention that you can currently trick it into not outputting `undefined` by using an HTML comment:

[code]

That will output `Title is [value of title]` just as you'd expect, without `undefined` above it.

However, I think it's not desirable: doing it inside a comment is not clear for the user whether we want to output this or not.

[2020-05-01 16:47] anikethsaha commented on #73
Still It would be easy for dev to use set .  We can have this feature.. Lets wait for @Scrum for this suggestion

[2020-05-02 15:52] cossssmin opened #74 "loopTags not working with multiple tags"
For example:

[code]

[code]

Currently it doesn't work, because the plugin only looks at the first tag in `loopTags`, it sees that it's `for`, and it fails.

Working on a PR right now.

[2020-05-02 16:42] cossssmin commented on #72
Found the issue with point 2)

This line doesn't do a global replace:

https://github.com/posthtml/posthtml-expressions/blob/3e2f583779400c28e237587acf48aa2add8f3b39/lib/index.js#L185

Should be rewritten to something like:

[code]

[2020-05-02 16:50] cossssmin commented on #72
Found the issue with 1) as well - we're not doing anything if we're inside an attribute 🤦‍♂️

https://github.com/posthtml/posthtml-expressions/blob/3e2f583779400c28e237587acf48aa2add8f3b39/lib/index.js#L199-L204

... could be rewritten to:

[code]

I'll prepare a PR for both these issues after we get #75 in 👍

[2020-05-06 07:52] Scrum commented on #73
The offer is great, but here's the first thing that came to mind:
1. I immediately thought that this could grow in patterns and it would have to be controlled in two places (I ran a chill on my back, I could smell the legacy of the projects)))
2. `{{ const title = page.title }}` this is similar to aliasing, but we talked about default values in the absence of value?
3. If we talked about default v

[2020-05-06 08:24] cossssmin commented on #73
`{{ page?.title ?? 'Scrum' }}` - optional chaining is only available starting with Node 14.

Honestly I don't really care if we can use `set`, `const`, or simply `{{ foo = bar }}`, the last two already work so basically all that's needed is for it to not render `undefined` in the markup when assigning to a new variable.

[2020-05-06 08:37] #74 closed

[2020-05-06 09:02] Scrum commented on #73
And then I suddenly thought about `computed`

[code]
[code]

Stop me if I started raving))

[2020-05-06 09:06] cossssmin commented on #73
`computed` is actually cool and might come in handy! However, this is about being able to do that right in the template - the user might not have access to the plugin's options like that :)

[2020-05-13 14:45] shanejones opened #79 "[Feature Request] If Exists"
We already have this for conditional.
[code]

I'm trying to check if a variable exists before outputting it or hiding the block completely if it doesn't exist so I tried
[code]

I think it would be great if we had something like

[code]

[2020-05-15 12:42] cossssmin commented on #79
What would `exists` check for, exactly?

For example, you might check if it's `undefined` and not show the contents, but that's isn't very reliable since it can be defined as a falsy value (`null`, `false`, `0`, etc).

I think it's better left to the user to do the check, so one can check for exactly the type they want.

@Scrum?

[2020-05-15 12:58] Scrum commented on #79
Hi, in theory, any value will be converted to boolean at execution
https://github.com/posthtml/posthtml-expressions/blob/77aaf5696593e7cd14ea41a6505e1f2d03ae8c6e/lib/index.js#L221

try
[code]

[2020-05-18 07:32] #72 closed

[2020-05-19 07:22] #79 closed

[2020-05-27 18:00] cossssmin opened #82 "Expression ignoring not working in conditionals and switch"
Expression ignoring currently doesn't work inside `<if>` and `<switch>` tags.

It _does_ work in `<elseif>`, `<else>`, or `<scope>`. As an example, consider locals: `{env: 'production'}`.

This:

[code]

Results in:

[code]

It also fails inside a `<switch>`:

[code]

Result:

[code]

@Scrum I understand it needs to go after recursion so nesting works, any ideas on how to solve this?

[2020-06-08 00:02] silvenon opened #83 "Can't seem to loop within a loop with nested arrays"
## Problem

I'm trying to loop through nested arrays, but it appears that `<each>` only has access to what was already in `locals`, it doesn't have access to new variables, like from another `<each>` or `<scope>`.

Other expressions like `<if>` can access them normally.

## Details

Nested arrays:
[code]
Tried to loop through them:
[code]
Error message for the second loop:
[code]

Let me know if y

[2020-06-08 01:01] silvenon commented on #83
I figured out what was going on. The problem in my case was in the code that I **didn't** post (I didn't actually check the example above, I just assumed).

The problem was that `<each>` always evaluates, regardless of whether it's in `<if>` or not (but doesn't output), which makes sense to me. So I'm closing this, sorry.

[2020-06-08 01:01] #83 closed

[2020-06-14 01:28] danielrob opened #84 "Cannot use attribute open on <details> element after posthtml-beautify"
## Problem

I'm using a parceljs setup with posthtml-expressions & posthtml-beautify. I'm unable to provide the html attribute `open` to the `details` html element if posthtml-expressions is run after posthtml-beautify.

## Sandbox

[code]

## Error

[gist](https://gist.github.com/danielrob/3472f543bcd847235686aa04955f26f6)

## Environment

Please provide information about your environment.

| OS

[2020-06-14 01:28] danielrob opened #85 "Cannot use attribute open on <details> element after posthtml-beautify"
## Problem

I'm using a parceljs setup with posthtml-expressions & posthtml-beautify. I'm unable to provide the html attribute `open` to the `details` html element if posthtml-expressions is run after posthtml-beautify.

## Sandbox

[link](https://github.com/danielrob/posthtml-expressions-bug-repro)

[code]

## Error

[gist](https://gist.github.com/danielrob/3472f543bcd847235686aa04955f26f6)

## E

[2020-06-15 09:48] Scrum commented on #84
@danielrob Hi, thanks, this is a good catch, but I think it’s more about !!!, because he gives up a distorted tree and thanks for the very cool reportin, I'll take it into service

[2020-06-16 09:09] #85 closed

[2020-06-16 09:09] Scrum commented on #85
@danielrob publish v1.4.2

[2020-06-16 09:15] danielrob commented on #85
Nice one @Scrum thanks so much!! Extremely fast turnaround!

[2020-06-16 13:00] Scrum commented on #82
@cossssmin Oh sorry, I just got to this. I will try to reproduce it and understand the reason.

[2020-06-23 13:19] andrhamm opened #88 "Delimiters: `SyntaxError: Invalid regular expression: Unterminated character class`"
## Problem

Updated from 1.3.2 to 1.4.2 and now starting to see this error. I'm using square brackets in my delimiters (my files contain liquid tags that would conflict with the default delimiters), which are not being escaped properly, causing issues with the Regex used under the hood to find all tags.

Update: I have tested and have confirmed that there is no error in 1.4.0 and that the regressi

[2020-06-23 17:07] cossssmin commented on #88
Indeed, it fails here:

https://github.com/posthtml/posthtml-expressions/blob/b351d16e02a751c357404691677578aafb613cdb/lib/index.js#L151

... because the resulting delimiter regex `@%[` is invalid (Unmatched opening square bracket).

The opening string delimiter needs to be properly handled for use in a regex (escaped).

I'll work on a fix for this, but meanwhile know that you can use `@{{ }}` to

[2020-06-23 17:32] andrhamm commented on #88
@cossssmin Thank you for the quick response. I find the `@{{` syntax troubling because it doesn't stand out as much from the Liquid tags when reviewing code, and also would potentially cause problems in cases where you might be rendering a dynamic username or email address in Liquid. i.e. (this is valid liquid but would be interpreted as expressions, I believe):

		My Twitter is: @{{username}}

[2020-06-23 19:29] cossssmin commented on #88
It'll work fine. Given `username` is provided in `locals` and is equal to, say, `admin`, then this:

[code]

... will result in:

[code]

[2020-06-23 20:35] silvenon opened #89 "Errors thrown by this plugin are not instances of Error"
## Problem

I'm using posthtml-expressions with gulp-posthtml, but every time I make a mistake (e.g. try to access a property of `undefined`) gulp-posthtml throws with "Missing error message" instead of displaying a descriptive error message like it does when running posthtml directly. (This is not a problem with gulp-posthtml, read further.)

## Details

Eventually I found out that the "Missing e

[2020-06-24 17:22] andrhamm commented on #62
I am using expressions with `posthtml-extend` and `posthtml-modules` and my conditional comments are being removed. I've tried `<raw>` as well as custom `ignoredTag` (`verbatim`) with no luck.

[2020-06-25 06:13] #82 closed

[2020-06-25 08:00] Scrum commented on #89
@silvenon Could you give a link to the repository where this can be reproduced?

Now I can’t give a definite answer, I need to see what happens.

[2020-06-25 09:10] silvenon commented on #89
Here you go: https://github.com/silvenon/repro/tree/posthtml-expressions-error

[2020-06-25 10:55] Scrum commented on #89
[code]
I think this solution is more correct, it may be worth updating this package because It has not been updated for a long time.

Why do you use `gulp` ?

[2020-06-25 15:02] silvenon commented on #89
Technically it's a workaround, so first I wanted to see if there was a way to solve the issue at the root ("the right way"), but for my purposes it's fine either way, so I'll submit a PR to gulp-posthtml.

I use gulp to build static sites, gulp v4 kinda changed the game for me. I have a bunch of HTML pages which I process with posthtml (sometimes first markdown, then posthtml) and output. Static s

[2020-06-25 15:02] #89 closed

[2020-06-26 06:57] Scrum commented on #89
Exclusively for static pages I would use [posthtml-cli](https://github.com/posthtml/posthtml-cli) or [parceljs](https://parceljs.org/getting_started.html)

[2020-06-30 10:41] #88 closed

[2020-07-06 07:11] philerck opened #93 "loop - input.search is not a function"
## Problem

I want to use the loop with posthtml-cli an d get the Error: input.search is not a function

## Details

My npm-Script:
"build:html": "posthtml -c posthtml.json"

This is may posthtml.json Config File
[code]
My loop test file is in src/views

about.html
[code]

## Error Logs

TypeError: input.search is not a function
    at parseLoopStatement (C:\xampp\htdocs\npmscriptstest\node_module

[2020-07-07 06:44] Scrum commented on #93
@philerck Hi, optimizer `htmlnano` must be used at the end of the list of plugins.

[2020-07-07 06:57] Scrum commented on #93
The problem exists, it is associated with the normalization of the tree at the output.

[2020-07-07 07:16] #93 closed

[2020-07-07 07:19] Scrum commented on #93
@philerck Update the package `posthtml-expressions` up to version 1.4.5, use the configuration for `posthtml.json` as I described above, enjoy

[2020-07-07 07:30] philerck commented on #93
Hey @Scrum, thanks for the fast answer. Changed my config file and now its working. Thank you very much. Also for the awesome Plugin. One step further from nunjucks to posthtml.

[2020-07-22 22:00] silvenon commented on #89
Oops, I didn't see your comment. My build step is more complex, so posthtml-cli wouldn't be enough, and a bundler like Parcel wouldn't work either, I think, because bundlers assume an entry point (or multiple of them), which fits the model of applications, but not static sites AFAIK. I haven't seen a static site built with a bundler, though, (without a framework like Gatsby) but I'm happy to be pr

[2020-07-23 06:59] Scrum commented on #89
There is a saying in Russia "an old friend is better than two new ones"

[2020-07-23 11:40] silvenon commented on #89
😄

[2020-08-17 14:20] cossssmin commented on #62
@Scrum it looks like text nodes after an `<if>` are not returned, see https://github.com/maizzle/framework/issues/269 for an example. Any ideas?

[2020-08-27 20:27] trisys3 opened #97 "Directives Are Ignored"
## Problem

Briefly describe the issue you are experiencing (or the feature you want to see
added to the plugin). Tell us what you were trying to do and what happened
instead. Remember, this is _not_ a place to ask questions. For that, go to
http://gitter.im/posthtml/posthtml

Directives seem to be completely ignored by this plugin.

## Details

Describe in more detail the problem you have been ex

[2020-08-28 13:43] Scrum commented on #97
@trisys3 publish v1.4.7

[2020-08-28 13:44] #97 closed

[2020-09-21 13:45] dragoonDorise opened #99 "Can't pass local to tag"
If you try this:

`<module href="component.html" locals='{"param":"checked"}' ></module>`

In this html:

`<input type="radio" {{param}}/>`

I except this:

`<input type="radio" checked/>`

Bu instead I get this rendered:

`<input type="radio" {{param}}/>`

[2020-10-27 11:53] cossssmin opened #101 "Ignore expressions in quotes"
Imagine we run PostHTML with `{ locals: { foo: 'bar' } }` on this HTML:

[code]

Normally, you'd expect this to be output:

[code]

... however, I think the plugin tries to parse `'{{ foo }}'` and it fails with a `SyntaxError`:

[code]

I think `posthtml-expressions` should not try to parse 'expressions' inside quotes, these should be simply treated as strings and parsing should skip them.

[2020-10-29 16:45] BjornDCode opened #102 "Check if key exists in locals"
## Problem

It's not currently possible to have a conditional that checks whether a key is set in the `locals` object.

This is an expansion to #79

## Details

I have a use case where the contents of the `locals` object is dynamic. It's read from front-matter from a markdown file.
I would like to be able to check whether the key is set in the locals object and then output the value if it does.

F

[2020-10-30 12:14] Scrum commented on #102
@BjornDCode use the option `strictMode` with value `false` to suppress mistakes

[2020-11-02 01:48] Scrum commented on #101
@cossssmin Hi
The point is finding part of the expression and in your case it turns out
[code]
If you write a regex that will search for an expression with quotes taken into account, then the question remains unresolved with an expression in attributes like
[code]

[2020-11-08 11:48] cossssmin commented on #102
@Scrum this still throws a `ReferenceError`:

[code]

Result:

[code]

Originally reported in maizzle/framework#354

[2020-11-09 06:10] Scrum commented on #102
Hi have you used this parameter?
https://github.com/posthtml/posthtml-expressions/issues/102#issuecomment-719518146

[2020-11-09 07:10] #102 closed

[2020-11-09 17:54] cossssmin commented on #102
I was using it, yes. It works in `1.6.1` now, thanks!

[2020-11-11 08:46] alker0 opened #106 "Option to disable @{{ }}"
Importing CDN assets, it often needs the `@x.x.x` format for specifying the version. So I want to pass the asset version to `locals` without `@`, and use `@{{ }}` syntax in html.

like this:
[code]

It outputs:
[code]
This is invalid CDN path.

So currently, it must move `@` to `locals` for all CDN assets. I think it would be great if there is a  option to disable `@{{ }}`.

[2020-11-11 12:37] cossssmin commented on #106
Use the `<raw>` tag, or define custom delimiters.

[2020-11-11 22:23] alker0 commented on #106
I want an output like:
[code]
So it needs away to replace variables even when using `@` on the left side of delimiters.

Is there how to transform `foundation-sites@{{ foundationVersion }}` to `foundation-sites@x.x.x`?

[2020-11-12 06:11] Scrum commented on #106
I think you'd better transfer the full URL for the resource in the data. you still look for a version for it

[code]

and even better, immediately generate a list of static resources and display them via `each`

[code]

[2020-11-12 11:36] cossssmin opened #107 "strictMode: loops still throw error if target is not object"
https://github.com/posthtml/posthtml-expressions/blob/5a883311929ad53b44f3b51b9bd05af7f1eb0ef2/lib/index.js#L346-L349

@Scrum I think we could do a check for `strictMode` here?

[code]

Something like this will fail if `items` is `undefined` (or not an object for that matter), even though `strictMode` is set to `false`:

[code]

Ref: https://github.com/maizzle/framework/issues/354

[2020-11-12 11:42] cossssmin commented on #107
Same here:

https://github.com/posthtml/posthtml-expressions/blob/5a883311929ad53b44f3b51b9bd05af7f1eb0ef2/lib/index.js#L391-L394

[2020-11-12 12:19] cossssmin commented on #107
Hmm, just realized that this:

https://github.com/posthtml/posthtml-expressions/blob/5a883311929ad53b44f3b51b9bd05af7f1eb0ef2/lib/index.js#L344

... could use a try/catch to avoid breaking when evaluating code fails:

[code]

This way, we'd always return the `ctx` object, either ran in context or the original.

I think this might have to depend on `strictMode` though? I mean, the normal behavior s

[2020-11-12 12:24] #107 closed

[2020-11-12 12:25] Scrum commented on #107
@cossssmin publish v1.6.2

[2020-11-12 13:02] alker0 commented on #106
Why did not I think of that way. I will try it immediately. Thank you.

[2020-11-12 13:02] #106 closed

[2020-11-24 14:17] schirliuradu commented on #107
Still having issues with each loops, using posthtml inside maizzle email templating framework.

I'll leave a link to a repo that reproduces the bug [here](https://github.com/schirliuradu/posthtml-each-loop-bug).

It would be enough to add extra condition here ``( && opts.strictMode )``
https://github.com/posthtml/posthtml-expressions/blob/bc94d52d3b496ded658cdc758eebe9cbed0ebc62/lib/index.js#L354

[2020-11-24 14:26] cossssmin commented on #107
@Scrum please consider @schirliuradu's comment above after merging #109, maybe we could include it and release a feature version.

[2020-12-02 07:31] Scrum commented on #107
i couldn't deploy your project to get error
![Screenshot 2020-12-02 at 10 29 46](https://user-images.githubusercontent.com/2789192/100842161-769b8680-3489-11eb-8d5a-1d717c1b9ca2.png)

[2020-12-02 07:32] Scrum commented on #107
@cossssmin I'll add this, but I need to understand the case to write tests for this.

[2020-12-02 07:49] Scrum commented on #107
https://github.com/posthtml/posthtml-expressions/pull/110/commits/fc5662bff86f130506281fcaa12e5936ee8340a9

[2020-12-02 08:23] schirliuradu commented on #107
Ok, i'll try to send a link to another repo, a bit later @Scrum

[2020-12-02 08:33] Scrum commented on #107
I made a fix on `posthtml-expressions` try reinstall and try

[2020-12-15 09:54] CaiyueDamowang commented on #9
i used `[ '[[', ']]' ]` but it didn't work. Just write it in `config.js`. Is there some reason ?

[2020-12-16 06:20] Scrum commented on #9
Hi, could you please provide an example where reproduced ?

[2021-06-23 03:54] Sulaymon-dev opened #117 "Load local data from <script data> tag in html file"
Hi, in tailwindcss framework "Adam Wathan" work with posthtml and this like workflow

![posthtml](https://user-images.githubusercontent.com/40419449/123032770-faa26500-d3ff-11eb-9e6b-66477d0e7a22.png)

it's was super helpful for automating coding

[2021-06-23 07:03] Scrum commented on #117
@Sulaymon-dev  Hello, do you want to clarify? where and where to download? and how to use it?

It will be good if you describe an example in which you indicate what you are doing and what you expect to receive.

[2021-06-23 12:24] Sulaymon-dev commented on #117
"Adam Wathan" creator of Tailwindcss use it livestream on youtube ...
He use posthtml for templating
His workflow - https://youtu.be/oQhVNja7Trw?t=270
He say "We using PostHTML for templating" https://youtu.be/oQhVNja7Trw?t=410

it's really super easy for creating html themes without any template engine, frameworks and ...

[2021-06-23 13:06] Scrum commented on #117
Thank you, I'll take a look at this material.

[2021-08-09 14:45] #117 closed

[2021-08-22 20:10] s-kobets opened #120 "Remove <script locals> after build html."
Hi, thank you to plugin, but I don't understand, why `<script locals>` don't removed after build html?
before
[code]

after
[code]

I think <script locals> this artefact and this should remove after build or configuration this behavior. What do you think?

[2021-08-23 05:27] gormster commented on #120
+1. This should at least be an option, and IMO it should probably default to true.

[2021-08-23 08:36] Scrum commented on #120
You're welcome. Now you can use the option `removeScriptLocals` since version `1.9.0`

[2021-08-23 08:36] #120 closed

[2021-12-02 00:14] sakekasi opened #122 "'Delimiters' settings don't work correctly"
Hi,

I'm using posthtml-expressions as a part of [maizzle](https://maizzle.com) to generate templates. I used the following settings to change my delimiters:

[code]

Which almost worked, but I kept getting this error:

[code]

when trying to process this code:

[code]

I used the workaround detailed [here](https://github.com/maizzle/framework/discussions/420#discussioncomment-449859) to get a sto

[2021-12-08 06:22] Scrum opened #123 "i used `Delimiters` but it didn't work."
i used `[ '[[', ']]' ]` but it didn't work. Just write it in `config.js`. Is there some reason ?

_Originally posted by @cy-98 in https://github.com/posthtml/posthtml-expressions/issues/9#issuecomment-745179228_

[2022-01-21 11:44] thewebartisan7 opened #124 "How to check if a variable is set?"
Suppose we have a variable for set body class.
In case we don't pass any variable as body class I get `class="undefined"`

How to check if variable is set?

Like:

[code]

[2022-01-26 06:52] Scrum commented on #124
Now you'd better resort to constructing https://github.com/posthtml/posthtml-expressions#conditionaltags. In the future, I'll see what can be done for such expressions. Thank you for bringing this to our attention.

[2022-01-26 08:19] thewebartisan7 commented on #124
Thanks. I already saw conditional tags, however it's messed to do this for every variable, like html dir attribute, head title tag, several classes, etc.

[2022-02-02 07:52] thewebartisan7 opened #125 "Each loop not working"
In read me there is this example:

[code]

But it seem not working..
Only when passing array via locals.

Also adding below not working:

[code]

[2022-02-06 11:50] kudg0 opened #126 "passing HTML through localsAttr isn't working"
Hi!
First of all, i wanna say thank you for your plugin and your work!
Love this thing)

I see the issue with passing **HTML** through **localsAttr**.

**input:**
[code]

[code]

**output:**

[code]

Is it possible to do this by using **localsAttr**?

And yeah, some of my gulp config:
[code]

[2022-02-07 10:10] thewebartisan7 commented on #126
You can use extends plugin by passing HTML via block.

[2022-02-08 07:30] kudg0 commented on #126
@thewebartisan7 thank's for your advise!
Now i use `extends` plugin for this

But i have misunderstanding with one thing, maybe you know that to do with this)
I have template file:

[code]

And when i include it more than 1 time in one HTML file, he doesn't replace `slot` tags correct.
Here is that i mean:

**input:**
[code]

**output:**
[code]

Somehow `slots` tags looks correct only in last incl

[2022-02-08 08:20] thewebartisan7 commented on #126
I see only now this issue. I use extends like you, and I didn't notice it since the block tag it's hidden by html.

I start using extends for include components with slots since the "include" and "modules" plugin doesn't allow that, but as I understand "extends" was intended to be used to extends just single layout, and not many components on pages. So for nested extends you have to set option `st

[2022-02-08 11:57] kudg0 commented on #126
@thewebartisan7 thank you!

I go deep inside of this plugin, and see that it's work by operating trees with extends/layout content.
But i think here we have opportunities to easy add support of this behavior.

Here is method from plugin code:

[code]

if we just add unique uid to returning nodes attrs, it's can be more useful for users

Here is that i mean:
[code]
Because our `extendsBlockNodes` a

[2022-02-08 11:57] #126 closed

[2022-02-10 08:24] thewebartisan7 commented on #126
I just see that you can skip escape of HTML, see https://github.com/posthtml/posthtml-expressions#unescaped-locals

{{{ unescaped }}}

[2022-02-10 08:57] kudg0 commented on #126
Yeeah, but it isn't working(

I try to use it:
https://github.com/posthtml/posthtml-expressions/issues/126#issue-1125181767

[2022-03-14 18:33] RemyyB commented on #123
Hi there @Scrum , when do you think v1.9.1 will be released? Thanks in advance!

[2022-04-26 11:01] cossssmin commented on #9
@RemyyB custom delimiters work fine in `posthtml-expressions`, your issue comes from `posthtml-modules` which currently doesn't handle expressions properly. [There's a PR](https://github.com/posthtml/posthtml-modules/pull/78) that'll be merged soon to fix this issue, so watch out for `posthtml-modules@0.9.0` 👍

[2022-04-26 11:07] cossssmin commented on #125
All loop tests pass and that works fine, can you please share a repository that reproduces the issue?

[2022-04-26 11:09] cossssmin commented on #124
[code]

Where `'default'` can be an empty string `''` in order to output `<body class="">`.

[2022-04-26 11:11] #101 closed

[2022-04-27 07:33] thewebartisan7 commented on #124
Thanks for your reply. I have already try this, but this works only when bodyClass is defined, even empty.

When it's not defined, the output is like:

[code]

Or sometimes even there is error undefined variable.

[2022-04-27 07:35] thewebartisan7 commented on #124
Component:

[code]

Usage:
[code]

Output:

<img width="451" alt="Screenshot 2022-04-27 at 09 34 33" src="https://user-images.githubusercontent.com/57477934/165466043-259e430f-72b6-4f15-a368-b60c23c73da9.png">

[2022-04-27 07:38] thewebartisan7 commented on #125
I can't find in your test the example of this way to define locals:

[code]

Because this is what I am trying.

Should I prepare a repo with this?

I am using posthtml-loader with webpack.

[2022-04-27 08:25] cossssmin commented on #125
It's here:

https://github.com/posthtml/posthtml-expressions/blob/260a048538e78f79d9d62e15961ecd6f4129d399/test/test-locals.js#L34-L40

Yes please if you can, thanks.

[2022-05-13 03:34] andrew-dotson opened #130 "Is it possible to pass arrays into include locals attribute?"
Sorry beginner coder here, this has been driving me nuts though. Is it possible to pass arrays directly in the <include> tags locals attribute? I don't see any examples on how to do that...and then looping through the values. I know there are other ways to do it but was curious if you could pass it on the include itself.

[2022-05-25 17:11] thewebartisan7 commented on #124
I found a way to handle this:

[code]

[2022-09-21 05:14] thewebartisan7 opened #131 "Set posthtml expression options in posthtml-loader"
Posting here the same question that I open here https://github.com/posthtml/posthtml-loader/issues/134

I hope someone can explain how to setup options with posthtml-loaded

When I try to add posthtml expression options then it fail:

[code]

Error:

ERROR in Error: Child compilation failed:
Module build failed (from ./node_modules/posthtml-loader/lib/index.js):
PostHTML Loader:

SyntaxError: Unex

[2022-09-21 08:55] thewebartisan7 commented on #131
Seem fixed, not sure how

[2022-09-21 08:55] #131 closed

[2022-09-23 09:18] thewebartisan7 commented on #130
You should be able to pass any valid JSON objects, and your JSON object could have an item with an array.

[code]

This should works, then you can access it using {{ myArray }} and loop over it using <each> tag

[2022-09-23 09:20] thewebartisan7 opened #132 "Script locals always override the locals passed via attribute"
Would be possible that script locals inside component act as default locals, and the locals passed via attribute override the script locals?

Because right now it's the opposite, the script locals override the locals passed via attribute.

And I can't even do something like this:

[code]

When "name" is the locals passed via attribute locals.

[2022-09-23 15:11] juliovedovatto commented on #132
@thewebartisan7 I just stumbled with this situation today!

I open a PR to address this situation, allowing using global locals from configuration or when using `posthtml-include` plugin together.

Would you like to test if my chance solves your issue as well?

[code]

or if case you use `posthtml-include` as me. You will need to force dependency resolution.

`npm` >= `8.3`

[code]

or `yarn`

[co

[2022-09-24 03:58] thewebartisan7 commented on #132
Thanks! Will try for sure

At the moment I am doing something like below, but with your solution it's much cleaner

<script locals>
  module.exports = {
    defaultName: "John"
  }
</script>

<span>
  {{ typeof name !== "undefined" ? name : defaultName }}
</span>

[2022-09-25 15:52] thewebartisan7 commented on #132
Works perfectly! I tested with posthtml-include, posthtml-extend and posthtml-modules and works perfectly with all of them!

[code]

[code]

[code]

[code]

[2022-09-25 19:13] juliovedovatto commented on #132
@thewebartisan7 I'm glad that my change solved your issue and thanks for testing even further!

Friendly ping to @Scrum

[2022-09-26 07:04] Scrum commented on #132
v1.10.0

[2022-09-26 07:04] #132 closed

[2022-10-03 05:12] #124 closed

[2022-10-03 05:13] #125 closed

[2022-10-06 06:08] thewebartisan7 commented on #56
@andreyvolokitin was this merged? How it works?

[2022-10-06 06:13] thewebartisan7 opened #137 "Set attributes via locals"
It seem that it's not possible to set attributes via locals, but only values.

So it's not possible to set dynamically the "selected" or "disabled" attribute to a select or input tag.

It's that correct?

I tried several things but seem not working.

Would be possible to set something like:

[code]

Notice the ":" before attribute.
When this and when {{ selected }} value is undefined, NULL and/or

[2022-10-06 13:32] andreyvolokitin commented on #56
I used it as a [fork](https://github.com/posthtml/posthtml-expressions/issues/56#issuecomment-362921328), worked fine, shouldn't be hard to make an updated PR

[2022-10-11 12:07] thewebartisan7 commented on #137
I made a small plugin for handle this, it's pretty easy. Will publish it soon.

[2022-11-07 18:14] b-gyula opened #139 "`ignoreTag` could be an array and contain css selectors"
Instead of `ignoreTag` it could be named `ignoreTags` and allow to contain CSS selectors like other posthtml plugins as [posthtml-match-helper](https://github.com/posthtml/posthtml-match-helper) accepts [tag]#[id].[class]. E.g `div#id`. It would not require the developers to insert extra wrapper tags and modify the html at all. E.g. with
[code]
would not alter
[code]
or
[code]
at all.

Further mor

[2022-11-07 22:00] cossssmin commented on #139
I like the idea, though changing its name would mean a breaking change. Maybe we could do `ignoredSelectors` or something until the next major release, what do you think @Scrum?